---
---

@import "{{ site.theme }}";

#container {
  font-size: x-large;
}

.inner {
  width: 960px;
}

header {
  padding-bottom: 10px;
}

header h1 {
  font-family: 'Spartan', sans-serif;
  font-size: 90px;
  font-weight: 1000;
  letter-spacing: -5px;
  line-height: 1;
}

#main_content h1 { 
  padding-bottom: 0.2em;
}

h2 {
  font-size: 2em;
}

a {
  color: #5E17EB
}